{% extends "base.html" %}
{% block pagetitle %}{{ article.title }}{% endblock %}
{% block sidebar %}{% include "blogsidebar.html" %}{% endblock %}
{% block content %}
<div class="article">
	<h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
	<p class="meta">
		<p id="post-author">Posted by: <span class="author">{{ article.author }}</span> on {{ article.date.strftime('%Y-%m-%d') }}</p>
		<p id="post-category">Filed under: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></p>
		<p id="post-tags">
	<div class="entry">
		{{ article.content }}
	</div>
	{% if DISQUS_SITENAME %}
	<div id="comments">
		<script type="text/javascript">
           var disqus_identifier = "{{ article.url }}";
           (function() {
           var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
           dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
           (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        </script>
    </div>
    {% endif %}
</div>
{% endblock %}